<script>
    var socket;

    function OpenSocket() {
        if (window.hasOwnProperty("WebSocket")) { // webkit-browser
            socket = new WebSocket("ws://localhost:8080/");
        }
        else if (window.hasOwnProperty("MozWebSocket")) { // firefox
            socket = new MozWebSocket("ws://localhost:8080/");
        }
        else { // browser doesnt support websockets
            alert("Your browser doesn't support WebSocket.");
            return;
        }

        socket.binaryType = 'blob'

        socket.onopen = function() { // the socket is ready, send something
            //socket.send("Testing websocket data flow...");
        };

        socket.onmessage = function(msg) { // the server send something
            console.log("The server sent a blob" );

            var reader = new FileReader();
            reader.addEventListener("loadend", function() {
               // reader.result contains the contents of blob as a typed array
               console.log(reader.result);
            });
            reader.readAsArrayBuffer(msg.data);

        };

        socket.onclose = function() { // the server closed the connection
            console.log("The server closed the connection.");
        };
    }

    function SendHello() {
        socket.send("Hello!");
    }

    function Close() {
        socket.close();
    }

</script>

<a href="#" onClick="JavaScript: OpenSocket()">Open Socket</a><br>
<a href="#" onClick="JavaScript: SendHello()">Send Hello!</a><br>
<a href="#" onClick="JavaScript: Close()">Close Socket</a><br>
